@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.cdnfonts.com/css/cyborg');
:root {
  --text-color: rgb(0, 215, 215);
  --aqua-color: rgb(0, 215, 215);
  --main-background: #1b1010;
  
}
body {
  /* background-color: #191919; */
  background-color: var(--main-background);
  color: var(--text-color);
  overflow-x: hidden;
}
.container-div
{
  margin: 20px;
}
nav {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: space-between;
}
ul.list {
  list-style: none;
  display: flex;
}
li {
  margin: 20px;
}
.hero {
  display: flex;
  justify-content: space-around;
}
.intro {
  font-size: 58px;
  font-weight: bold;
  font-family: 'Cyborg', sans-serif;
}
.heading-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.heading-title2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: var(--main-background);
}
.tech-stack {
  padding: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img {
  width: 100%;
}
.img img {
  width: 100%;
}
.box {
  max-width: 345px;
  background-color: #363636;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: 0.3s;
  color: #fff;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.493);
  
}
.box a{
  
  color: #fff;
}
.box a:hover{
  
  color: #fff;
}
.box:hover {
  box-shadow: 15px 28px 30px 0px rgba(0, 0, 0, 0.35);
  /* -webkit-box-shadow: 0px 10px 20px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: 0px 10px 20px 0px rgba(255,255,255,0.25); */
}
.box-body {
  padding: 20px;
}
a {
  color: var(--text-color);
  
  font-weight: lighter;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--text-color);
  
}
.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.my-projects
{
  background-color: var(--aqua-color);
  /* padding-top: 150px; */
  padding-top: 80px;
  position: relative;
}

.tech-img {
  width: 150px;
  padding: 20px;
}
.project-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
  
  
}
.project-desc {
  /* font-size: 18px; */
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
.projects-link {
  display: flex;
  justify-content: space-between;
  height: 70%;
}
.project-svg {
  width: 14%;
}
.tech-image {
  width: 100%;
}
footer div {
  display: flex;
}
.footer-links {
  margin: 20px;
}
.subheading {
  font-size: 32px;
  font-weight: 400;
  color: #a7a7a7;
}
.subheading2 {
  font-size: 32px;
  font-weight: 400;
  color:#363636;
}
.mouse-pointer {
  position: absolute;
  z-index: -1;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  content: "";
  
  background-color: rgba(160, 255, 255, 0.15);
  
  box-shadow: 0px 0px 165px 86px rgba(87, 81, 81, 0.24);
  
  /* -webkit-box-shadow: -1px 2px 165px 86px rgba(221,212,212,0.34);
  -moz-box-shadow: -1px 2px 165px 86px rgba(221,212,212,0.34); */
}


.top-pointer {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #888181;
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50px;
  transition: 0.3s;
}
.top-pointer:hover {
  background: #ffffff;
  transform: translateY(-10px);
  padding: 0;
}
.up:hover {
  border-radius: 50px;
}
.d-none {
  display: hidden;
}


.btn {
  border: none;
  
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  /* background: #78c7d2; */
  background: var(--text-color);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.up-circle{
  background: linear-gradient(45deg, #00ffb6  0%, #000fa3 100%);
	animation: morph 8s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 600px;
  width: 600px;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 0%;
  right:  0%;
  
	/* box-shadow: 0 0 20px #000 */
}
.techstackdiv
{
  position: relative;
}
.box-animation
{
  position: absolute;
  
  
}
.animated-box {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #00ffb6;
  
}


@media (max-width: 576px) {
  nav {
    display:none;
  }
  .brand {
    height: 10px;
  }
  .top-pointer
  {
    display: none;
  }
  footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .hero{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.intro {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 48px !important;
    font-weight: bold;
                         
}
.introimg{
    margin: auto;
    max-width: 200px;
}
.tech-stack{
    padding: 0 !important;
    margin-bottom: 100px;
  }
}
@media (max-width: 845px) {

  .introimg{
      margin: auto;
      max-width: 300px;
  }
.intro {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 48px !important;
    font-weight: bold;
                         
}
.introimg{
    margin: auto;
    max-width: 200px;
}
.tech-stack{
    padding: 0 !important;
    margin-bottom: 100px;
  }
}

/* animations */
@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		background-size: 100% 100%;
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
		background-size: 300% 150%;
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
		background-size: 100% 100%;
	}
}


